<main class="index"> 

    <header class="masthead d-flex">
        <div class="container text-center my-auto">    
          <h1 class="mb-1links">Bienvenidos a SmartTools</h1>
             <div class="row">
               <div class="col-sm-4">
                 <h3>Regístrate con nosotros</h3>
                 <p>SmartTools es una herramienta para administrar contenidos multimedia que requieras durante los eventos en redes sociales de tu empresa.</p>
               </div>
            <div class="col-sm-4"> 
                <h3>Administra múltiples eventos</h3>
                 <p>Desde tu cuenta en SmartTools puedes crear y administrar un sinnúmero de eventos diferentes, coordinadno sus fechas de inicio y finalización, revisando el contenido cargado por tus usuarios y más.</p>
            </div>
            <div class="col-sm-4">
                <h3>Visualiza los resultados</h3>
                <p>SmartTools te proveerá un URL único para que tanto tu como tus usuarios puedan ver los videos e imágenes que han sido cargadas a cada evento.</p>
             </div>
         </div>
       </div>

    </header>

</main>




